{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Measures</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{% static 'IMAGES/icons/favicon.ico' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'FONT/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'FONT/iconic/css/material-design-iconic-font.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="{% static 'JS/updatePoint.js' %}"></script>
		<script src="{% static 'JS/updateQuaternion.js' %}"></script>
		<!-- <script src="{% static 'JS/updateAcc.js' %}"></script> -->
		<script src="{% static 'JS/save.js' %}"></script>

	</head>
	
    <body>	
		<div class="limiter">
			<div class="container-login100" style="background-image: url('{% static "IMAGES/bg-01.jpg" %}');">
				<div id="dim" data-height="{{ height }}" data-width="{{ width }}"></div>
				<span id="session-info" class="login100-form-title p-b-34 p-t-27" style="color: black; font-size: 14px; position: absolute; top: 10px; left: 10px;"></span>
				<div class="rectangle">
					<div id="x" style="position: relative; top: 105%; left: 48%;"></div>
					<div id="y" style="position: relative; top: 107%; left: 48%;"></div>
					<div style="position: relative; top: 109%; left: 41%;">
						<form action="{% url 'finish' %}" method="post" style="display: inline-block; margin-left: 15px;">
							{% csrf_token %}
							<button class="login100-form-btn" style="width: 80px; height: 35px; font-size: 12px;">
								Finish
							</button>
						</form>
					</div>
				</div>
				<div class="point"></div>
			</div>			
		</div>

		
		<!-- <canvas id="chart1" width="50" height="50"></canvas>
		<div id="acc_x" ></div>
		<div id="acc_y" ></div>
		<div id="acc_z" ></div> -->
	</body>
</html>