{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Measures</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{% static 'IMAGES/icons/favicon.ico' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'FONT/font-awesome-4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'FONT/iconic/css/material-design-iconic-font.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">
		<object id="model3D" type="model/obj" data="{% static 'PROCESSING/3D_model_rifle/11737_rifle_v1_L2.obj' %}" width="600" height="400"></object>
	</head>
	
    <body>	
		<div class="limiter">
			<div class="container-login100" style="background-image: url('{% static "IMAGES/bg-01.jpg" %}');">
				<div id="dim" data-height="{{ height }}" data-width="{{ width }}"></div>
				<span id="session-info" class="login100-form-title p-b-34 p-t-27" style="color: black; font-size: 14px; position: absolute; top: 10px; left: 10px;"></span>
				<div class="rectangle">
					<div id="x" style="position: relative; top: 105%; left: 48%;"></div>
					<div id="y" style="position: relative; top: 107%; left: 48%;"></div>
					
					<div style="position: relative; top: 109%; left: 36%;">
						<div style="display: inline-block">
							<button id="clearButton" class="login100-form-btn" style="width: 80px; height: 35px; font-size: 12px;">
								Clear
							</button>
						</div>
						
						<div style="display: inline-block;">
							<form action="{% url 'finish' %}" method="post">
								{% csrf_token %}
								<button class="login100-form-btn" style="width: 80px; height: 35px; font-size: 12px;">
									Finish
								</button>
							</form>
						</div>
					</div>
					
				</div>
				<div class="point"></div>
			</div>			
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{% static 'JS/updatePoint.js' %}"></script>
		<script src="{% static 'JS/updateQuaternion.js' %}"></script>
		<script src="{% static 'JS/save.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.3/p5.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.3/addons/p5.sound.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toxiclibsjs/0.1.3/toxiclibs.min.js" integrity="sha512-XXs22VoCpwSw/DSIaY5YXMBLEp2CFA7vQO+GzNxFk8kmhabcHgXYpU7gFDij7+VLmoDfW3F3y5bu0O9r7REP2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  		<script src="{% static 'JS/sketch.js' %}"></script>
	</body>
</html>